# Archivos de Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Archivos temporales
*.log
*.tmp
*.bak

# Enviroment
.venv/
venv/

# Ignorar metadatos de paquetes instalados
project_package.egg-info/


# Datos
datasets/
checkpoints/
outputs/
results/
papers/
aux_scripts/ejemplos/